{% extends 'base.html' %}

{% block content %}

    {% include 'weather/nav_weather.html' %}

    <div class="message__error">
        {% for msg in get_flashed_messages() %}
            <div class="flash">{{ msg }}</div>
        {% endfor %}
    </div>

    {% if ((context.cities|length == 1) or (not context.cities)) %}
        <div class="find__city__form__add">
            <form class="find__city__form__input" action="" method="post">
                <div class="find__city__add">
                    <input class="find__city__input" type="text" name="city" value="" placeholder="Введите город для поиска"/>
                    <button class="button_find" name="find_city">Поиск</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="info__many__city">
            <p> Городов с названием < {{ context.cities[0].name }} > больше чем один.</p>
            <p> Выберите тот который Вас интересует и нажмите подтвердить.</p>
        </div>
        <div>
            <form class="case__city__form__input" action="" method="post">
                <div>
                    <ul>
                        {% for city in context.cities %}
                            <li class="case__city__item"> <label> <input type="radio" name="radio" value="{{ city.id }}"> <span class="radio__span">{{ city.name }}-{{ city.region }}</span> </label> </li>
                        {% endfor %}
                    </ul>
                    <button class="button_find" name="case_city">Подтвердить</button>
                </div>
            </form>
        </div>
    {% endif%}
    {%if context.temps %}
       <div class="div__table__weather">
            <p class="table__title">Прогноз погоды на 2 недели в городе < {{ context.title_city }} ></p>
            <table class="table__weather">
                <tr>
                    <th>Число</th>
                    {% for temp in context.temps %}
                        <th>{{ temp.date }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Т день</th>
                    {% for temp in context.temps %}
                        <th>{{ temp.t_day }}</th>
                    {% endfor %}
                </tr>
                <tr>
                     <th>Т вечер</th>
                    {% for temp in context.temps %}
                        <th>{{ temp.t_evening }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Осадки</th>
                    {% for temp in context.temps %}
                        <th class="weather__rain">{{ temp.rain }}</th>
                    {% endfor %}
                </tr>
            </table>
        </div>
    {% endif %}

{% endblock %}
