{% extends 'base.html' %}

{% block weather_menu %}

    {% include 'weather/nav_weather.html' %}

{% endblock %}

{% block content %}

    <p>Модуль состоит из:</p>
    <p>Прогноз погоды на 2 недели. Требуется указать город, который Вас интересуют.</p>
    <p>Архив погоды за месяц. Требуется указать город, год и месяц которые Вас интересуют.</p>
    <p>Выходные. Показывает погоду в указанном городе на 2 недели вперед, если дата превышает 2 недели от сегодняшней, то показывает архивную погоду на две недели за прошедшие 2 года.</p>

{% endblock %}
