/*Обнуление*/
*{padding: 0;margin: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
.body{
	color: #444;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/*--------------------- HEADER start -----------------------------------------------------------------------*/
.header {
}
.header__container {
    background-color: #DCDCDC;
    display: flex;
    min-height: 80px;
    align-items: center;
    max-width: 900px;
    padding: 0px 15px;
    margin: 0px auto;
}
/*---------------------------------------------------*/
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: red;
}
/*---------------------------------------------------*/
.header__menu{
    margin: 0px 0px 0px 80px;
}
.menu__list {
    display: flex;
}
.menu__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}
.menu__link {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}
/*---------------------------------------------------*/
.enter {
    margin: 0px 0px 0px 300px;
}
.enter__list {
    display: flex;
}
.enter__item {
}
.enter__link {
    color: grey;
    font-size: 16px;
    font-weight: 400;
}
/*--------------------- HEADER end -----------------------------------------------------------------------*/
/*-----------------------MAIN start -----------------------------------------------------------------------*/
.main__container {
    background-color: #DCDCDC;
    max-width: 900px;
    padding: 0px 15px;
    margin: 0px auto;
}
/*---------------------------------------------------*/
.personal__menu {
    margin: 0px 0px 30px 0px;
}
.personal__menu__list {
    display: flex;
}
.personal__menu__item:not(:last-child) {
    margin: 0px 60px 0px 0px;
}
.personal__menu__item {
}
.personal__menu__link {
    color: #800080;
    font-size: 20px;
    font-weight: 400;
}
/*---------------------------------------------------*/
.weather__menu {
    margin: 0px 0px 30px 0px;
}
.weather__menu__list {
    display: flex;
}
.weather__menu__item:not(:last-child) {
    margin: 0px 60px 0px 0px;
}
.weather__menu__item {
}
.weather__menu__link {
    color: #800080;
    font-size: 20px;
    font-weight: 400;
}
/*---------------------------------------------------*/
.message__error {
    margin: 0px 0px 10px 0px;
    color: red;
    font-size: 14px;
}
.find__city__form__add{
    margin: 5px 0px 10px 0px;
    font-size: 16px;
}
.info__many__city{
    margin: 5px 0px 10px 0px;
    font-size: 16px;
}
.case__city__form__input{
    margin: 0px 0px 10px 0px;
    font-size: 18px;
}
.case__city__item{
    margin: 5px ;
    font-size: 18px;
}
.div__table__weather{
    margin: 5px 0px 10px 0px;
}
.table__title{
    margin: 10px ;
    font-size: 18px;
}
.table__weather {
    border-collapse: collapse;
}
.table__weather th{
    padding: 0 3px;
}
.table__weather td {
    padding: 0 3px;
}
.table__weather th{
    border: 1px solid #000;
}
.table__weather td{
    border: 1px solid #000;
}
.weather__rain{
    font-size: 12px;
}
/*================== АВТОРИЗАЦИЯ ============================*/
.form_auth_block{
    width: 400px;
    height: 300px;
    margin: 0;
    background-size: cover;
    border-radius: 4px;
}
.form_auth_block_content{
    padding-top: 10%;
}
.form_auth_block input{
    display: block;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border:none;
    outline: none;
}
input:focus {
    color: #000000;
    border-radius: 5px;
    border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    height: 35px;
    border: none;
    cursor: pointer;
}

/*================== АВТОРИЗАЦИЯ ============================*/
/*================== РЕГИСТРАЦИЯ ============================*/
.form_reg_block{
    width: 400px;
    height: 300px;
    margin: 0;
    background-size: cover;
    border-radius: 4px;
}
.form_reg_block_content{
  padding-top: 10%;
}
.form_reg_block input{
  display: block;
  width: 80%;
  height: 35px;
  border-radius: 5px;
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 5px;
  border: 2px solid #436fea;
}
.form_reg_button{
    display: block;
    width: 80%;
    margin-top: 15px;
    border-radius: 15px;
    height: 35px;
    border: none;
    cursor: pointer;
}
/*================== РЕГИСТРАЦИЯ ============================*/
/*++++++++++++++++++++++++++++++++++++ _todo +++++++++++++++++++++++++*/
.title__todo {
    font-size: 24px;
    margin: 0px 0px 20px 10px;
}
.todo__form__add {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 20px 0px;
}
.todo__form__input {
}
.todo__delete__rows {
    margin: 0px 0px 10px 0px;
}
.todo__form__add h2{
    font-size: 24px;
    weight: 800;
}
.todo__reset {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
}
.todo__delete {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 100px;
}
.todo__save {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 30px;
}
.todo__delegate {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    margin: 0px 0px 0px 150px;
}
/*----------------------------------------*/
.todo__add {
    display: flex;
}
.todo__input {
    width: 60%;
    height: 30px;
    padding: 5px 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}
.button__add__todo {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 30px;
}
/*----------------------------------------*/
.todo__all__list {
    margin: 0px 0px 0px 20px;
}
.todo__list {
}
.todo__item {
    margin: 10px 0px 10px 0px;
}
.todo__item {
}
/*++++++++++++++++++++++++++++++++++++ _todo +++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++ shop +++++++++++++++++++++++++*/
.title__shop {
    font-size: 24px;
    margin: 0px 0px 20px 10px;
}
.shop__form__add {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 20px 0px;
}
.shop__form__input {
}
.shop__delete__rows {
    margin: 0px 0px 10px 0px;
}
.shop__form__add h2{
    font-size: 24px;
    weight: 800;
}
.shop__reset {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 10px;
}
.shop__delete {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 100px;
}
.shop__save {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 30px;
}
.shop__delegate {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    margin: 0px 0px 0px 150px;
}
/*----------------------------------------*/
.shop__add {
    display: flex;
}
.shop__input {
    width: 60%;
    height: 30px;
    padding: 5px 5px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}
.button__add__shop {
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 0px 0px 30px;
}
/*----------------------------------------*/
.shop__all__list {
    margin: 0px 0px 0px 20px;
}
.shop__list {
}
.tshop__item {
    margin: 10px 0px 10px 0px;
}
.shop__item {
}
/*++++++++++++++++++++++++++++++++++++ shop +++++++++++++++++++++++++*/
/* ----------------------------- checkbox -------------------*/
input[type=checkbox] { display: none; }
.pseudocheckbox::before {
    content: "\00A0";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #B0B0B0;
    border-radius: 2px;
    margin-right: 6px;
    vertical-align: baseline;

    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #808080;
}
input[type=checkbox]:checked + .pseudocheckbox::before { content: "\2713";}
input[type=checkbox]:checked + .pseudocheckbox {text-decoration: line-through;}
.pseudocheckbox {
    font-size: 24px;
/* ----------------------------- checkbox -------------------*/