{% extends 'base.html' %}

{% block content %}

    <p> Данные сайт является сборником разных модулей объединенных с помощью фреймворка Flask.</p>
    <br>
    <p> Модули:</p>
    <br>
    <p> Модуль - Погода: </p>
    <p> Данный модуль показывает погоду на две недели вперед и архив погоды.</p>
    <p> Прогноз погоды на две недели вперед осуществлен с помощью парсинга страницы с сайта gismeteo.</p>
    <p> Архив погоды берется из БД, если в архиве отсутствуют необходимые данные, то с сайта gismeteo парситься необходимый архив погоды и сохраняется в БД .</p>
    <p> Так же сделан API REST для запроса прогноза погоды и архива погоды (Прогноз можно получать как по url, так и с помощью отправка json).</p>
    <br>


{% endblock %}
